@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<style>

    body {
        background-color: #f8f9fa;
    }

    .container {
        margin-top: 50px;
    }

    .card {
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s;
    }

    .card-body {
        background-color: #ffffff;
        border-radius: 15px;
    }

    #divUpdate a {
        color: #007bff;
        text-decoration: none;
    }

        #divUpdate a:hover {
            text-decoration: underline;
        }

    .card-text {
        font-size: 16px;
    }

        .card-text strong {
            color: #333333;
        }

        .card-text span {
            color: #555555;
        }

    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 20px 0;
    }

    .status-connected {
        background-color: #c3e6cb;
        border-color: rgba(140, 248, 66, 0.8);
        border-width: 15px;
        color: #155724;
    }

    .status-disconnected {
        background-color: #f5c6cb;
        border-color: #721c24;
        border-width: 15px;
        color: #721c24;
    }

    .status-appstart {
        background-color: #ffeeba;
        border-color: #856404;
        border-width: 15px;
        color: #856404;
    }
</style>
<script>
    const statusDisplayMap = {
        'Connected': '挖礦中，不要吵我',
        'Disconnected': '幹，斷線了',
        'AppStart': '應用程式啟動中',
        'LoginPage': '登入中',
        'LoginError': '你他媽帳號密碼打錯了',
        'Error': '程式掛了，請回報錯誤訊息',
        'Stop': '程式停止中'
    };
    
    //更新卡片資訊
    setInterval(function () {

        function updateCardStatus(data) {
            const $card = $('#card');
            const statusClasses = {
                'Connected': 'status-connected',
                'Disconnected': 'status-disconnected',
                'Error': 'status-disconnected',
                'Stop': 'status-disconnected',
                'default': 'status-appstart'
            };

            // 移除所有狀態類別並添加新的類別
            const newStatusClass = statusClasses[data.Status] || statusClasses['default'];
            if (!$card.hasClass(newStatusClass)) {
                $card.removeClass('status-connected status-disconnected status-appstart').addClass(newStatusClass);
            }
        }

        $(document).ready(function () {
            $.ajax({
                url: 'Miner/GetMinerRecord',
                type: 'GET',
                dataType: 'json',
                xhrFields: {
                    withCredentials: true
                },
                success: function (data) {
                    const statusDisplay = statusDisplayMap[data.Status] || data.Status;

                    // if ($('#loginUserName').text() != data.LoginUserName)
                    //     $('#loginUserName').text(data.LoginUserName);

                    if ($('#status').text() != statusDisplay)
                        $('#status').text(statusDisplay);

                    if ($('#isConnected').text() != (data.IsConnected ? 'true' : 'false'))
                        $('#isConnected').text(data.IsConnected);

                    if ($('#reconnectSeconds').text() != data.ReconnectSeconds)
                        $('#reconnectSeconds').text(data.ReconnectSeconds);

                    if ($('#reconnectCounts').text() != data.ReconnectCounts)
                        $('#reconnectCounts').text(data.ReconnectCounts);

                    if ($('#exception').text() != data.Exception)
                        $('#exception').text(data.Exception);

                    if ($('#exceptionTime').text() != data.ExceptionTime)
                        $('#exceptionTime').text(data.ExceptionTime);

                    if ($('#publicIp').text() != data.PublicIp)
                        $('#publicIp').text(data.PublicIp);

                    // if ($('#points').text() != data.Points)
                    //     $('#points').text(data.Points);

                    // if ($('#networkQuality').text() != data.NetworkQuality)
                    //     $('#networkQuality').text(data.NetworkQuality);

                    if ($('#img1').attr('src') != data.Base64Image)
                        $('#img1').attr('src', data.Base64Image);


                    updateCardStatus(data);

                    if (data.Exception && data.status == "Error") {
                        $('#exMsg').show();
                        $('#exTime').show();
                    } else {
                        $('#exMsg').hide();
                        $('#exTime').hide();
                    }

                    if (data.Status == "Disconnected") {
                        $('#recSec').show();
                        $('#recCount').show();
                    } else {
                        $('#recSec').hide();
                        $('#recCount').hide();
                    }

                    if (data.NeedUpdate) {
                        $('#divUpdate').show();
                    }
                    else {
                        $('#divUpdate').hide();
                    }
                    const updateMsg = `有更新! 當前版本: ${data.AppVersion}，最新版本: ${data.LastAppVersion} `
                    if ($('#updateMsg').text() != updateMsg)
                        $('#updateMsg').text(updateMsg);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    }, 1000);
</script>

 



<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mb-4">
            <div class="card status-appstart" id="card">
                <div class="card-body">
                    <div id="divUpdate">
                        <span id="updateMsg"></span>
                        <br />
                        <a id="goToUpdate" href="https://github.com/aron-666/Aron.GrassMiner">
                            前往更新
                        </a>
                        <br /><br />
                    </div>
                    <p class="card-text">
                        @* <strong>礦老闆: </strong> <span id="loginUserName"></span><br /><br /> *@
                        <strong>狀態: </strong> <span id="status"></span><br /><br />
                        <strong>是否連線: </strong> <span id="isConnected"></span><br /><br />
                        <strong>外網IP: </strong> <span id="publicIp"></span><br /><br />
                        @* <strong>網路品質: </strong> <span id="networkQuality"></span><br /><br />
                        <strong>總工資: </strong> <span id="points"></span><br /><br /> *@
                        <div id="recSec">
                            <strong>重連秒數: </strong> <span id="reconnectSeconds"></span><br /><br />
                        </div>
                        <div id="recCount">
                            <strong>重連次數: </strong> <span id="reconnectCounts"></span><br /><br />
                        </div>
                    <p id="exMsg" style="display: none;"><strong>錯誤訊息: </strong> <span id="exception"></span><br /><br /></p>
                    <p id="exTime" style="display: none;"><strong>錯誤時間: </strong> <span id="exceptionTime"></span><br /><br /></p>
                    <img id="img1" src="" alt="狀態圖片" />
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>